---
import { type CollectionEntry, getCollection } from "astro:content";
import Layout from "@components/Layout.astro";
import Section from "@components/page/Section.svelte";
import FormattedDate from "@components/FormattedDate.astro";
import { Image } from "astro:assets";

export const getStaticPaths = async () => {
  const posts = await getCollection("posts");
  return posts.map((post) => ({
    params: { slug: post.slug },
    props: { post }
  }));
};

interface Props {
  post: CollectionEntry<"posts">;
}

const { title, pubDate, cover } = Astro.props.post.data;
const { Content } = await Astro.props.post.render();
---

<Layout {title}>
  <Section>
    <div class="bg-bg mb-4">
      {
        cover && (
          <Image
            src={cover.url}
            alt={cover.alt}
            class="w-full aspect-video object-contain"
          />
        )
      }
    </div>
    <div class="mb-8 border-b border-neutral-700 pb-4">
      <h1>{title}</h1>
      <span class="inline-flex items-center gap-2">
        <FormattedDate date={pubDate} /> |
        <a href="/feed.xml" class="link">RSS Feed</a>
      </span>
    </div>
    <article class="[&_img]:mx-auto [&_a]:link">
      <Content />

      <span>-- <br /> end</span>
    </article>
  </Section>
</Layout>
